:root{
    --white: #fff;
    --cinzaesc: #333333;
    --cinzacl: #A6A6A6;
    --black: #000;
    --bg-color: #E5E5E5;
    --bg-title:  #CF2B2B;
    --bg-button-first: #CBCBCB;
    --bg-button-second: #32B72F;
    --bg-telaconfirmacao: #50D074;
    --font-roboto: 'Roboto';
    --font-righteous: 'Righteous';
    --font-light300: lighter;
    --font-normal400: normal;
    --font-bold700: bold;
    --size15: 15px;
    --size16: 16px;
    --size18: 18px;
    --size20: 20px;
    --size22: 22px;
    --size26: 26px;
    --size44: 44px;
}
header, main, .barra_inferior, .revisao{
    max-width: 414px;
    margin-left: max(0px, 50vw - 207px);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--bg-title);
    height: 92px;
    padding-left: 21px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}
.titulo{
    font-family: var(--font-righteous);
    font-size: var(--size44);
    color: var(--white);
    margin-bottom: 5px;
    padding-top: 10px;
}
.subtitulo{
    font-family: var(--font-roboto);
    font-size: var(--size18);
    font-weight: var(--font-normal400);
    color: var(--white);
}
main{
    padding-top: 120px;
    padding-left: 21px;
    padding-bottom: 205px;
    height: 1060px;
    background-color: var(--bg-color);
}
.titulo_corpo{
    font-family: var(--font-righteous);
    font-size: var(--size26);
    color: var(--cinzaesc);
}
.categoria{
    display: flex;
    margin-top: 17px;
    margin-bottom: 27px;
    overflow-x: scroll;
}
.caixa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 216px;
    width: 172px;
    margin-right: 16px;
    border-radius: 9px;
    background-color: var(--white);
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, .25);
    cursor: pointer;
    position: relative;
}
.opcao{
    margin: 0 14px;
    width: 144px;
    height: 161px;
}
.opcao img{
    border-radius: 4px;
    width: 144px;
    height: 87px;
    margin-bottom: 8px;
}
.opcao p{
    margin-bottom: 8px;
}
.nome{
    font-family: var(--font-roboto);
    font-weight: var(--font-bold700);
    font-size: var(--size16);
    color: var(--cinzaesc);
}
.descricao{
    font-family: var(--font-roboto);
    font-weight: var(--font-light300);
    font-size: var(--size15);
    color: var(--cinzacl);    
}
.preco{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 14px 0 14px;
}
.valor{
    font-family: var(--font-roboto);
    font-weight: var(--font-normal400);
    font-size: var(--size16);
    color: var(--black);
}
.selecionado{
    border: 5px solid var(--bg-button-second);
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, .25);
    border-radius: 9px;
}
ion-icon{
    color: var(--bg-button-second);
    font-size: var(--size18);
}
.escondido{
    display: none;
}
.barra_inferior{
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 92px;
    background-color: var(--white);
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.25);;
}
.botao_confirmacao_off{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 61px;
    width: 364px;
    border-radius: 50px;
    background-color: var(--bg-button-first);
    border: none;
    font-size: var(--size20);
    font-family: var(--font-roboto);
    font-weight: var(--font-normal400);
    color: var(--white);
    text-align: center;
    margin: 8px auto 0 auto;
}
.botao_confirmacao_on{
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    height: 61px;
    width: 364px;
    border-radius: 50px;
    background-color: var(--bg-button-second);
    border: none;
    font-size: var(--size20);
    font-family: var(--font-roboto);
    font-weight: var(--font-normal400);
    color: var(--white);
    text-align: center;
    margin: 8px auto 0 auto;
    cursor: pointer;
}
.revisao{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    width: 377px;
    height: 353px;
    background-color: var(--bg-telaconfirmacao);
    border-radius: 9px;
    font-family: var(--font-roboto);
    color: var(--white);
    margin: 0 auto;
}
.revisao p{
    font-size: var(--size22);
    font-weight: var(--font-bold700);
    margin-top: 21px;
    margin-bottom: px;
}
.linhas_itens{
    display: flex;
    justify-content: space-between;
    width: calc(172px + 93px + 61px);
}
.linhas_itens p{
    font-weight: var(--font-normal400);
    margin-bottom: -5px;
}
.linhas_itens .total{
    font-weight: var(--font-bold700);
}
.botao_confirmar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    font-size: var(--size22);
    font-weight: var(--font-bold700);
    color: var(--bg-telaconfirmacao);
    width: 329px;
    height: 52px;
    border-radius: 100px;
    cursor: pointer;
    border: none;
    padding: 20px 0;
    margin-top: 40px;
}
.botao_cancelar{
    display: flex;
    justify-content: center;
    font-size: var(--size20);
    background-color: var(--bg-telaconfirmacao);
    font-weight: var(--font-bold700);
    width: 333px;
    margin-top: 20px;
}